{% extends 'home/base.html' %}

{% block title %} Transaction {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5">
  <div class="container-fluid">
    <!-- HTML !-->
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    {% if request.user.designation == 1 or request.user.is_superuser%}
                    Transaction Count
                    {% else %}
                    Paid Driver
                    {% endif %}
                  </h5>
                  <span class="h2 font-weight-bold mb-0" id="t_count">{{count}}</span>
                </div>

                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fa fa-layer-group"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">

  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" style="float: left;">Transaction</h3>
          <a href="#addTransac" data-toggle="modal" class="button-34">Add New</a>
        </div>
        <input type="hidden" name="barcode" id="barcode">
        <div style="padding: 1%;">
          <table id="example" class="table table-striped" width="100%">
            <thead>
              <tr>
                <th>Body Number</th>
                <th>Starting Point</th>
                <th>Action</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for t in transact %}
              <tr>
                <td>{{t.driver.plate_number}}</td>
                <td>{{t.endpoint}}</td>
                <td>{{t.action}}</td>
                <td>{{t.scanDate}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addTransac" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Transaction
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="GET" action="#" id="send_data1">
          {% csrf_token %}
          <b>Code:</b>
          <input type="text" name="data" id="data" class="form-control" oninput="show_code()">
          <div id="driver_data"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger s1-b1-c btn-flat pull-left" data-dismiss="modal"><i
            class="fa fa-close"></i>
          Close</button>
        <button type="submit" class="btn btn-success s1-b1-s btn-flat" name="add">
          <i class="fa fa-save" id="save1"></i>
          <i class="lds-dual-ring" id="load1" style="display: none;"></i>
          {% if request.user.designation == 1 %}
          Pay
          {% else %}
          Scan
          {% endif %}
        </button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="bcode" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Transaction
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="GET" action="#" id="send_data">
          {% csrf_token %}
          <b id="code_show">Code:</b>
          <input type="hidden" name="data" id="bcode_data" class="form-control">
          <input type="hidden" name="b_action" id="b_action">
          <div id="driver_data_bcode"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn s-b-c btn-danger btn-flat pull-left" data-dismiss="modal" id="bcode_close"><i
            class="fa fa-close"></i>
          Close</button>
        <button type="submit" class="btn btn-success s-b-s btn-flat" name="add">
          <i class="fa fa-save" id="save"></i>
          <div class="lds-dual-ring" id="load" style="display: none;"></div>
          {% if request.user.designation == 1 %}
          <span>Pay</span>
          {% else %}
          <span>Scan</span>
          {% endif %}
        </button>
      </div>
      </form>
    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script>
  $(document).ready(() => {
    const table = $("#example").DataTable({
      responsive: true,
      "order": [
        [3, 'desc']
      ],
      "columnDefs": [
        { "className": "dt-center", "targets": "_all" },
      ],
    })


    $("#bcode_close").on("click", function (e) {
      e.preventDefault()
      $("#bcode").modal("hide")
    })

    const TransactionSocket = new WebSocket("ws://" + window.location.host + "/");
    TransactionSocket.onopen = (e) => {
      console.log("Setup Done")
    };
    TransactionSocket.onclose = (e) => {
      console.log("Something Unexpected Happened!")
    }

    $("form").on("submit", (e) => {
      e.preventDefault();
      let formId = $(e.target).attr("id");
      if (formId === "send_data") {
        code_data = $("#bcode_data").val()
        b_action = $("#b_action").val()
        $(".s-b-c").attr("disabled", true)
        $(".s-b-s").attr("disabled", true)
        $("#save").css("display", "none")
        $("#load").css("display", "inline-block")
      }
      else {
        code_data = $("#data").val()
        $(".s1-b1-c").attr("disabled", true)
        $(".s1-b1-s").attr("disabled", true)
        $("#save1").css("display", "none")
        $("#load1").css("display", "inline-block")
      }

      $.ajax({
        type: "GET",
        url: "{% url 'scan' %}",
        data: {
          data: code_data,
          designation: "{{ request.user.designation}}",
          "b_action": b_action
        },
        dataType: 'json',
        success: function (response) {
          if (response.code === 200) {
            TransactionSocket.send(JSON.stringify({
              code: code_data,
              action: response.action,
              transact_id: response.id
            }))

            if (response.action === "pass") {
              p_nmbr = code_data.split("-")
              p_number = p_nmbr[1]

              fetch(`{% url "removeshow" %}?id=${p_number}`)
                .then(response => {
                  if (!response.ok) {
                    toastr.error("Reload your page!")
                  }
                  else {
                    return response.json
                  }
                })

              table.rows().every(function () {
                var data = this.data();
                if (data[0] === p_number) {
                  this.remove();
                }
              })

              table.draw();

              if ("{{ request.user.designation}}" === "2") {
                var tag = $("#t_count")
                var tagValue = parseInt(tag.text())
                tag.text(tagValue - 1)
              }
            }

            else {
              if (response.endpoint === "Merkado") {
                $.ajax({
                  type: "GET",
                  url: "{% url 'transactAPI' %}",
                  data: {
                    id: response.id
                  },
                  dataType: "json",
                  success: function (response) {
                    date = new Date(response.date)
                    let options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
                    table.row.add([
                      response.body_number,
                      response.endpoint,
                      response.action,
                      date.toLocaleString('en-US', options)
                    ]).draw()
                    var tag = $("#t_count")
                    var tagValue = parseInt(tag.text())
                    tag.text(tagValue + 1)
                  }
                })
              }
            }

            toastr.success(response.action + " Success!")
          }
          else {
            toastr.error(response.message)
          }
        }
      })


      if (formId === "send_data") {
        $(".s-b-c").removeAttr("disabled")
        $(".s-b-s").removeAttr("disabled")
        $("#save").css("display", "inline-block")
        $("#load").css("display", "none")
      }
      else {
        $(".s1-b1-c").removeAttr("disabled")
        $(".s1-b1-s").removeAttr("disabled")
        $("#save1").css("display", "inline-block")
        $("#load1").css("display", "none")
      }
    });

    TransactionSocket.onmessage = function (e) {
      const designation = "{{request.user.designation}}"
      transact_data = JSON.parse(e.data)
      plate_number = transact_data.code.split("-")
      if (+designation === 2 && transact_data.action === "pay") {
        toastr.success(`Body Number '${plate_number[1]}' has paid at merkado.`)
        $.ajax({
          type: "GET",
          url: "{% url 'transactAPI' %}",
          data: {
            id: transact_data.transact_id
          },
          dataType: "json",
          success: function (response) {
              date = new Date(response.date)
              let options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
              table.row.add([
                response.body_number,
                response.endpoint,
                response.action,
                date.toLocaleString('en-US', options)
              ]).draw()
              var tag = $("#t_count")
              var tagValue = parseInt(tag.text())
              tag.text(tagValue + 1)
            }
        })
        console.log("1")
      }
      else if (+designation === 1 && transact_data.action === "Paid") {
        console.log("Here")
        console.log(+designation === 1)
        toastr.success(`Body Number '${plate_number[1]}' has paid at pepelitan.`)
        $.ajax({
          type: "GET",
          url: "{% url 'transactAPI' %}",
          data: {
            id: transact_data.transact_id
          },
          dataType: "json",
          success: function (response) {
            if (+designation === 1 && response.endpoint === "Pepelitan") {
              date = new Date(response.date)
              let options = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true };
              table.row.add([
                response.body_number,
                response.endpoint,
                response.action,
                date.toLocaleString('en-US', options)
              ]).draw()
              var tag = $("#t_count")
              var tagValue = parseInt(tag.text())
              tag.text(tagValue + 1)
            }
          }
        })
      }
    }

  })

  function displayImage(imageData) {
    // Convert image data to a data URL
    const imageURL = `data:image/jpeg;base64,${imageData}`;

    // Create an img element
    const imgElement = document.getElementById('qrimageid');

    // Set the source of the image
    imgElement.src = imageURL;
  }

  function show_code(id) {
    qr = id ? id : $("#data").val()
    $.ajax({
      type: "GET",
      url: '{% url "getQr" %}',
      data: {
        id: qr,
        qr: true
      },
      dataType: 'json',
      success: function (response) {
        html = `
          <div style="display: flex;">
            <div style="width: 50%;">
              <b>Driver Data</b>
              <p>Name: ${response.last_name}, ${response.first_name}</p>
              <p>Plate Number: ${response.plate_number}</p>
            </div>
            <div style="width: 50%;">
              <b>Operator Data</b>
              <p>Name: ${response.op_last_name}, ${response.op_first_name}</p>
              <p>Address: ${response.address}</p>
            </div>
          </div>
        `

        if (response.code === 200) {
          if (response.status === "paid") {
            html += `
                  <b style="width: fit-content; padding: 2% 2%; background-color:green; border-radius: .8em;margin-bottom: 5px; color:black;" >PAID</b>`
            $("#b_action").val("pass")
          }
          else {
            html += `
                  <b style="width: fit-content; padding: 2% 2%; background-color:red; border-radius: .8em; margin-bottom: 5px;color:black;">UNPAID</b>`
            $("#b_action").val("pay")

            if ("{{request.user.designation}}" === "2") {
              $("#b_action").val("pay_pass")
              $('#load').next().text('Pay and Scan');
            }

          }
        }
        id ? document.getElementById("driver_data_bcode").innerHTML = html : document.getElementById("driver_data").innerHTML = html
        if (id !== undefined) {
          $("#code_show").html(`Code: ${id}`)
          $("#bcode_data").val(id)
        }
      }
    })
  }




</script>

<script type="text/javascript" src="/static/assets/js/detection.js"></script>
<script type="text/javascript">
  $(document).scannerDetection({
    avgTimeByChar: 40,
    onComplete: function (barcode, qty) {
      showQr(barcode)
    },
  });


  function showQr(bcode) {

    if ($('#bcode').is(':visible')) {
      $("#bcode").modal("hide")
    }

    $.ajax({
      type: "GET",
      url: "{% url 'driver_api' %}",
      data: {
        "qr": bcode
      },
      success: function (response) {
        if (response.code === 200) {
          setTimeout(() => {
            $("#bcode").modal("show")
            show_code(bcode)
          }, 200)
        }
        else {
          toastr.error("Invalid QR Code!")
        }
      },
    })
  }
</script>
{% endblock javascripts %}