{% extends 'home/base.html' %}

{% block title %} Users {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5">
      <div class="container-fluid">
        <!-- HTML !-->
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Users</h5>
                      <span class="h2 font-weight-bold mb-0">{{userCount}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                        <i class="fa fa-money-bill"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="text-success mr-2"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <h3 class="mb-0" style="float: left;">Staff</h3>
              <a href="#addUser" data-toggle="modal" class="button-34">Add</a>
            </div>
            <div style="padding: 1%;">
              <table id="example" class="table table-striped" width="100%">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Designation</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for h in huser %}
                    <tr>
                      <td>{{h.username}}</td>
                      <td>{{h.get_designation_display}}</td>
                      <th>
                        <a href="#removeStaff" style="color: white;" data-id="{{h.id}}" class='btn remove btn-danger btn-sm edit btn-flat' data-toggle="modal">
                          <i class='fa fa-trash'></i> Delete</a>
                      </th>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addUser">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            Add Staff
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="POST" action="{% url 'register'%}">
              {% csrf_token %}
              {% for i in rForm %}
                <div class="form-group has-feedback">
                    <span class="text-danger">{{i.errors}}</span>
                    {{i.label_tag}}
                    {{i}}
                </div>
              {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" data-toggle="close" data-dismiss="modal" class="btn btn-danger btn-flat pull-left" id="closeModal"><i class="fa fa-close"></i> Close</button>
            <button type="submit" class="btn btn-success btn-flat" name="edit"><i class="fa fa-check-square-o"></i> Update</button>
            </form>
        </div>
        </div>
      </div>
      </div>
      </div>
    </div>


    <div class="modal fade" id="removeStaff">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            Remove Staff
          </div>
          <div class="modal-body">
            <b>Are you sure you want to remove this staff?</b>
            <form class="form-horizontal" method="POST" action="{% url 'delete'%}">
              {% csrf_token %}
              <input type="hidden" name="r_staff_id" id="r_staff_id">
          </div>
          <div class="modal-footer">
            <button type="button" data-toggle="close" data-dismiss="modal" class="btn btn-primary btn-flat pull-left" id="closeModal"><i class="fa fa-close"></i> Close</button>
            <button type="submit" class="btn btn-danger btn-flat" name="edit"><i class="fa fa-check-square-o"></i> Remove</button>
            </form>
        </div>
        </div>
      </div>
      </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script>
  $(document).ready(() => {
    $("#example").DataTable({
      responsive: true,
      "order" : [
        [3, 'desc']
     ],
     "columnDefs": [
     {"className": "dt-center", "targets": "_all"},
     { width: '30%', targets: 0 },
     { width: '30%', targets: 1 }
    ],
    })

    $('#id_driver').select2({
      width: "45%",
      dropdownParent: $("#reload")
    })

    $("#id_username").addClass("form-control")
    $("#id_password1").addClass("form-control")
    $("#id_password2").addClass("form-control")

    $(".remove").on("click", function(e) {
      e.preventDefault()
      id = $(this).data('id')
      $("#r_staff_id").val(id)
    })
  })

</script>
{% endblock javascripts %}
